.users {
  background-image: url("./../images/users-bg.png");
  height: 470px;
  padding-top: 95px;

  .users-content {
    padding-bottom: 95px;
    .mini-title {
      @include miniTitle(center, 10px);
    }

  }


    .input-wrapper {
      padding-left: 20px;

      .input-wrapper__input {
        @include input-style(white, 264px, 17px 0 17px 30px, $inputColor, 1px solid $borderColor);
      }


      ::placeholder {
        color: white;
      }
    }

    .try-now-btn-wrapper {
      @include buttonStyle(inherit, 17px 95px);
      cursor: pointer;
      position: relative;
    }

    .try-now-btn-wrapper::after {
      content: url("./../images/free-days.png");
      position: absolute;
      top: -60px;
      right: 60px;
    }
  }
  .terms-and-services{
    color: #888ca6;
    padding-top: 50px;

    .terms-and-services__link{
      color: white;
    }
  }

