%blocks-title{
  font-size: $title-fz;
}

%point-color{
  color: $point-color;
}


%miniTitle-style{
  color: $mini-title-color;
  font-size: $small-font;
}


%btnStyle{
  .try-now-btn-wrapper__btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #ff6d6d;
    border-radius: 5px;

    &:hover {
      background-color: $-button-and-links-hoverColor;
      transition: .3s;
    }
  }
}


%blocksBg{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}


%text-styles{
  font-size: $small-font;
}

%inputStyle{
  &:hover, :focus {
    outline: none;
  }
  border-radius: 5px;
}

%footer-links-style{
  text-decoration: none;
  color: #717171;
  &:hover{
    color: $-button-and-links-hoverColor;
  }
}

%ul{
  padding-left: 0;
}

%li{
  list-style: none;
}