@mixin blocks-bg($bg-attachment){
  @extend %blocksBg;
  background-attachment: $bg-attachment;
}


@mixin title($text-align, $max-width){
  @extend %blocks-title;
  text-align: $text-align;
  max-width: $max-width;
}

@mixin buttonStyle($text-align, $padding){
  @extend %btnStyle;
    text-align: $text-align;
    .try-now-btn-wrapper__btn {
      padding: $padding;
    }
  }

@mixin miniTitle($text-align, $margin-bottom){
  @extend %miniTitle-style;
  text-align: $text-align;
  margin-bottom: $margin-bottom;
}

@mixin image-wrapper($margin-bottom){
  margin-bottom: $margin-bottom;
}

@mixin text-style($max-width){
  @extend %text-styles;
  max-width: $max-width;
}

@mixin input-style($color, $width, $padding, $bg, $border){
  @extend %inputStyle;
  color: $color;
  width: $width;
  padding: $padding;
  background: $bg;
  border: $border;
}