$mini-title-color: #ff6d6d;
$point-color: #ff6d6d;
$title-fz: 40px;
$small-font: 16px;
$md-font: 22px;
$-button-and-links-hoverColor: #ff8d00;
$inputColor: #464c77;
$borderColor: #999cb4;
$button-bg-color: #ff6d6d;
$input-footerEmail-border-color: #b8b8bf;
$input-footerEmail-bg-color: #f6f6f6;