.new-features {
  @include blocks-bg(inherit);
  background-image: url("./../images/new-features-bg.png");

  .new-features-content {
    margin-bottom: 150px;

    .mini-title {
      @include miniTitle(center, 0);
    }

    .content-title {
      @include title(center, 500px);
      margin: 0 auto;
    }
  }


  .new-features-block {
    .image-wrapper {
      @include image-wrapper(30px);
    }

    .text-wrapper__title {
      font-size: $md-font;

    }

    .text-wrapper__text {
      @include text-style(360px);
      font-size: $small-font;
    }
  }
}