@media (max-width: 1400px) {
  .browser-window{
    .browser-window-image-wrapper{
      .browser-window-image-wrapper__img{
        width: 820px;
      }
    }
  }
}


@media (max-width: 1200px) {
  .browser-window{
    .browser-window-image-wrapper{
      .browser-window-image-wrapper__img{
        width: 820px;
      }
    }
  }
}


@media (max-width: 992px) {
  .browser-window{
    .browser-window-image-wrapper{
      .browser-window-image-wrapper__img{
        width: 700px;
      }
    }
  }
}


@media (max-width: 768px) {
  .browser-window{
    .browser-window-image-wrapper{
      .browser-window-image-wrapper__img{
        width: 540px;
      }
    }
  }
}


@media (max-width: 576px) {
  .browser-window{
    .browser-window-image-wrapper{
      .browser-window-image-wrapper__img{
        width: 290px;
      }
    }
  }
}





