@media (max-width: 1200px) {
  .about-clients {
    height: 650px;
    .text-wrapper{
      .text-wrapper__text{
        margin-bottom: 25px;
      }
    }
    .partners-content-wrapper{
      .partners-images-wrapper{
        .img-wrapper{
          padding: 0 57px 0 30px;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .about-clients {
    height: 650px;
    .text-wrapper{
      .text-wrapper__text{
        margin-bottom: 25px;
      }
    }
    .partners-content-wrapper{
      .partners-images-wrapper{
        .img-wrapper{
          padding: 0 10px 0 30px;
        }
      }
    }
  }
}


@media (max-width: 768px) {
  .about-clients {
    height: 1385px;
    .image-wrapper{
      padding-top: 20px;
    }
    .text-wrapper{
      .text-wrapper__text{
        margin-bottom: 25px;
      }
    }
    .partners-content-wrapper{
      .partners-images-wrapper{
        display: flex;
        flex-wrap: wrap;
        .img-wrapper{
          padding: 20px 10px 0 30px;
          width: 50%;
          text-align: center;
        }
      }
    }
  }
}


@media (max-width: 576px) {
  .about-clients {
    height: 1480px;
    .text-wrapper{
      .text-wrapper__text{
        margin-bottom: 25px;
      }
    }
    .partners-content-wrapper{
      .partners-images-wrapper{
        .img-wrapper{
          padding: 50px 0 0 4px;
        }
      }
    }
  }
}





