.new-design{
  background-image: url("./../images/rectangle.png");
  background-repeat: no-repeat;
  background-size: 40% 100%;
  min-height: 720px;
  background-position: right;

        .new-design-content {
          .mini-title {
           @include miniTitle(left, 0);
          }

          .content-title{
            @include title(left, 505px);
            margin-bottom: 50px;
            .point-color{
              @extend %point-color;
            }
          }

          .new-design-content__text{
            margin: 35px 0 0 0;
            max-width: 570px;
          }

        }
  }
