@media (max-width: 1400px) {
  .clients{
    position: relative;
    .triangle {
      width: 0;
      height: 0;
      border-bottom: 457px solid #fb8686;
      border-right: 650px solid transparent;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
    .macbook-wrapper{
      .macbook-wrapper__img{
        width: 630px;
        height: 367px;
      }
    }

    .responsive-design{
      .mini-title{
        text-align: left;
      }
      .responsive-design__text{
        text-align: left;
        margin: 35px 0 0 67px;
      }
    }
  }
}


@media (max-width: 1200px) {
  .clients{
    padding-top: 50px;
    background: #88d4e3;
    .triangle {
      display: none;
    }
    .macbook-wrapper{
      padding-left: 25px;
      margin: 0;
      text-align: center;
      .macbook-wrapper__img{
        width: 630px;
        height: 367px;
      }
    }

    .responsive-design {
      padding: 35px 0 0 76px;

      .mini-title {
        @include miniTitle(center, 0);
        padding: 0;
      }

      .content-title {
        @include title(center, 420px);
        margin: 0 auto;
      }

      .responsive-design__text{
        margin: 40px auto ;
        text-align: center;
      }
    }
  }
}


@media (max-width: 992px) {
  .clients{
    background-image: inherit;
    .macbook-wrapper{
      margin-top: 10px;
      text-align: center;
      .macbook-wrapper__img{
        width: 530px;
        height: 267px;
      }
    }

    .responsive-design{
      padding-top: 0;
      text-align: center;

      .mini-title{
        padding: 25px 0 0 0;
      }
      .content-title{
        margin: 0 auto;
      }

      .responsive-design__text{
        text-align: center;
      }
    }
  }
}


@media (max-width: 768px) {
  .clients{
    background-image: inherit;
    .macbook-wrapper{
      margin-top: 10px;
      text-align: center;
      padding-left: 0;
      .macbook-wrapper__img{
        width: 530px;
        height: 267px;
      }
    }

    .responsive-design{
      padding: 0;
      text-align: center;

      .mini-title{
        padding: 25px 0 0 0;
      }
      .content-title{
        margin: 0 auto;
      }

      .responsive-design__text{
        text-align: center;
      }
    }
  }
}


@media (max-width: 576px) {
  .clients{
    background-image: inherit;
    .macbook-wrapper{
      margin-top: 10px;
      text-align: center;
      .macbook-wrapper__img{
        width: 295px;
        height: 180px;
      }
    }

    .responsive-design{
      padding-top: 0;
      text-align: center;

      .mini-title{
        padding: 25px 0 0 0;
      }
      .content-title{
        margin: 0 auto;
      }

      .responsive-design__text{
        text-align: center;
      }
    }
  }
}