.clients{
    position: relative;
    .triangle {
        width: 0;
        height: 0;
        border-bottom: 457px solid #fb8686;
        border-right: 650px solid transparent;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

        .macbook-wrapper{
            margin: 90px 0 0 0;
            position: relative;
        }



        .responsive-design{
            padding-top: 135px;
            .mini-title{
                @include miniTitle(inherit, 0);
                padding-left: 67px;
            }
            .content-title{
                @include title(inherit, 420px);
                margin: 20px 0 0 65px;

                .point-color{
                    @extend %point-color;
                }
            }

            .responsive-design__text{
                max-width: 500px;
                margin: 35px auto 0;
                text-align: left;
            }
        }
    }



