@media (max-width: 1400px) {
  .all-footer-content-wrapper{
    padding-top: 83px;
    .footer-content-wrapper{
      .footer-input-text{
        padding-bottom: 25px;
      }
      .email-input-wrapper {
        .footer-input-button{
          padding: 0;
          border: none;
          position: absolute;
          top: 0;
          right: 95px;
        }
      }
      .footer-img-wrapper{
        padding-top: 20px;
        .footer-img-wrapper__img{
          padding-left: 30px;
        }
      }
    }
  }
}


@media (max-width: 1200px) {
  .all-footer-content-wrapper{
    padding-top: 83px;
    .footer-content-wrapper{
      .footer-input-text{
        padding-bottom: 25px;
      }
      .email-input-wrapper {
        .footer-input-button{
          padding: 0;
          border: none;
          position: absolute;
          top: 0;
          left: 210px;
        }
      }
      .footer-img-wrapper{
        padding-top: 20px;
        .footer-img-wrapper__img{
          padding-left: 30px;
        }
      }
    }
  }
}


@media (max-width: 992px) {
  .all-footer-content-wrapper{
    padding-top: 20px;
    .footer-content-wrapper{
      .footer-input-text{
        padding-bottom: 5px;
      }
      .email-input-wrapper {
        .footer-input-button {
          padding: 0;
          border: none;
          position: absolute;
          top: 0;
          left: 205px;
        }
      }
      .footer-img-wrapper{
        padding-top: 10px;
        .footer-img-wrapper__img{
          padding-left: 18px;
        }
      }
    }
  }
}


@media (max-width: 768px) {
  .all-footer-content-wrapper{
    padding-top: 20px;
    .footer-content-wrapper{
      .footer-input-text{
        padding-bottom: 5px;
      }
      .email-input-wrapper {
        .footer-input-button {
          padding: 0;
          border: none;
          position: absolute;
          top: 0;
          left: 205px;
        }
      }
      .footer-img-wrapper{
        padding-top: 10px;
        .footer-img-wrapper__img{
          padding-left: 18px;
        }
      }
    }
  }
}


@media (max-width: 576px) {
  .all-footer-content-wrapper{
    padding-top: 20px;

    .triangle{
       display: none;
    }
    .footer-content-wrapper{
      .footer-input-text{
        padding-bottom: 5px;
      }
      .email-input-wrapper {
        .footer-input-button {
          padding: 0;
          border: none;
          position: absolute;
          top: 0;
          left: 205px;
        }
      }
      .footer-img-wrapper{
        padding-top: 10px;
        .footer-img-wrapper__img{
          padding-left: 18px;
        }
      }
    }
  }
}