.preview-video{
  @include blocks-bg(fixed);
  background-image: url("./../images/preview-bg.png");

        .preview-video-content {
          .preview-video-content__title {
            max-width: 750px;
            margin: 0 auto;
            text-align: center;
            font-size: 60px;
            font-weight: 100;
          }
        }

          .play-btn-wrapper{
            margin: 50px 0;
          }

        .try-now-btn-wrapper{
          @include buttonStyle(center, 18px 95px);
        }

    .modal{
      .modal-dialog{
        .modal-content{
          .modal-body{
            .video{
              width: 765px;
              height: 415px;
            }
          }
        }
      }
    }
}
